# Generated binary files and scripts.
bin/

# Local folders.
output/
build/
lib/
models/

# Generated packages.
deploy/linux/*.deb

# Local Changelog
src/ChangeLog
ChangeLog

# Build folder.
src/build/
